# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/


# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg

# MacOS metadata
.DS_Store

# Python egg and distribution artifacts
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
develop-eggs/
.installed.cfg

# PyInstaller
*.manifest
*.spec

# Coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Logs
*.log

# Editor configs / metadata
.idea/
.vscode/

# Temporary files
*.swp
*.swo
*~

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local environment variables
.env
